body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

/* 整体布局 */
.app {
    display: grid;
    grid: 40px 100px 670px / auto;
}

/* top-bar顶部条 */
.v-line {
    margin: 0 7px;
    color: #424242;
}

.top-bar-bg {
    font-size: 12px;
    background: #333;
    display: flex;
    justify-content: center;
}

.top-bar {
    width: 1226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    color: #b0b0b0;
}

.top-bar a:hover {
    color: #fff;
}

.top-bar-nav ul {
    display: flex;
    align-items: center;
}

.top-bar-right {
    height: 40px;
    line-height: 40px;
    display: flex;
}

.top-bar-right .login-reg {
    margin-right: 10px;
}

.top-bar-right .login-reg ul {
    display: flex;
}

.top-bar-right .top-car a {
    text-align: center;
    display: block;
    width: 120px;
    background-color: #424242;
    transition: all .2s;
}

.top-car {
    margin-left: 15px;
}

.top-car i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

.top-car a:hover {
    color: #ff6700;
    background-color: #fff;
}

/* 头部header */
.header-bg {
    display: flex;
    justify-content: center;
}

.header-bg .header {
    width: 1226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bg .header .header-logo {
    width: 62px;
}

.header-bg .header .header-logo a {
    width: 56px;
    height: 56px;
    display: block;
    position: relative;
}

.header-bg .header .header-logo a::after {
    content: "";
    background: url(../images/logo-mi2.png) no-repeat;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 56px;
}

.header-bg .header-nav {
    margin-left: 60px;
}

.header-bg .header-nav ul {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg .header-nav ul a {
    color: #333;
    font-size: 16px;
    padding: 26px 8px 38px;
    transition: all .2s;
}

.header-bg .header-nav ul a:hover {
    color: rgb(255, 103, 1);
}

.header-search {
    position: relative;
}

.header-search input {
    width: 245px;
    height: 48px;
    padding: 0 10px;
    line-height: 48px;
    margin-right: 51px;
    border: 1px solid #e0e0e0;
}

.header-search button {
    width: 52px;
    height: 48px;
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
}

.header-search button::before {
    content: "";
    background: url(../images/search.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    background-size: 16px;
}

/* 商品分类 */
.cate-rot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rotation {
    width: 1226px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.rotation-size {
    width: 1266px;
    height: 460px;
}

.rotation-img-size {
    width: 100%;
    height: 100%;
}

.category {
    width: 234px;
    height: 460px;
    padding: 20px 0;
    color: #fff;
    background: rgba(105, 101, 101, .6);
    position: absolute;
    top: 0;
    z-index: 1;
}

.category ul li {
    width: 100%;
    height: 42px;
}

.category ul li a {
    display: block;
    color: #fff;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.category .category-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
}

.category .category-icon::before {
    content: "";
    background: url(../images/right.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: 25px;
    position: absolute;
    top: calc(-42px / 2 - 25px / 2);
    right: 15px;
}

.category ul li:hover {
    background-color: rgb(255, 103, 1);
}

/* 修改轮播图 */
.carousel-control-prev {
    width: 40px !important;
    height: 70px !important;
    top: calc(460px / 2 - 41px / 2) !important;
    left: calc(234px) !important;
}

.carousel-control-next {
    width: 40px !important;
    height: 70px !important;
    top: calc(460px / 2 - 41px / 2) !important;
}

.carousel-control-prev:hover {
    background-color: rgba(115, 115, 115, .4);
}

rotation .carousel-control-next:hover {
    background-color: rgba(115, 115, 115, .4);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 41px !important;
    height: 59px !important;
}

.carousel-indicators {
    width: 400px;
    height: 21px;
    right: 30px !important;
    left: auto !important;
    margin-right: 0 !important;
    justify-content: flex-end !important;
}

.carousel-indicators [data-bs-target] {
    width: 6px !important;
    height: 6px !important;
    border: 2px solid #fff !important;
    border-color: hsla(0, 0%, 100%, .3) !important;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .4) !important;
}

.carousel-indicators .active {
    border-color: rgba(0, 0, 0, .4) !important;
    background-color: hsla(0, 0%, 100%, .4) !important;
}

/* 轮播图底部 */

.cate-rot-bot {
    width: 1226px;
    height: 180px;
    display: grid;
    grid: 170px / 234px repeat(3, 316px);
    grid-column-gap: 15px;
}

.cate-rot-bot .service ul {
    height: 170px;
    background: #5f5750;
    display: flex;
    flex-wrap: wrap;
}

.cate-rot-bot .service li {
    width: 76px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cate-rot-bot .service li img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 3px auto;
    color: rgb(206, 204, 202);
}

.cate-rot-bot .service li a {
    font-size: 12px;
    color: rgb(206, 204, 202);
    transition: all .2s;
}

.cate-rot-bot .service li a:hover {
    color: #fff;
}

.cate-rot-bot .service li::after {
    content: "";
    position: absolute;
    background-color: #665e57;
    top: 6px;
    left: 1px;
    width: 1px;
    height: 70px;
}

.cate-rot-bot .service li::before {
    content: "";
    position: absolute;
    background-color: #665e57;
    top: 1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.cate-rot-bot .vivid {
    transition: all .2s;
}

.cate-rot-bot .vivid:hover {
    box-shadow: 1px 5px 20px -4px rgb(186, 186, 186);
}

/* 产品 */
.container-bg {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-product {
    display: inline-grid;
    grid: 164px repeat(3, 686px) / 1226px;
}

.container-top-img {
    height: 120px;
    margin: 22px 0;
}

.phone-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    font-size: 22px;
    font-weight: 200;
    color: #333;
    position: relative;
}

.phone-header a {
    font-size: 16px;
    font-weight: 500;
    color: #424242;
    transition: all .4s;
}

.phone-header a i {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    transition: all .4s;
}

.phone-header a:hover {
    color: rgb(255, 103, 0);
}

.phone-header a:hover i {
    background-color: rgb(255, 103, 0);
}

.product {
    width: 1226px;
    display: grid;
    grid: repeat(2, 300px) / repeat(5, 234px);
    grid-gap: 14px;
}

.vision {
    display: none;
}

.product a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    transition: all .4s;
}

.product a:hover {
    box-shadow: 1px 5px 20px -4px rgb(186, 186, 186);
    transform: translateY(-2px);
}

.product a img {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.product a h3 {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}

.product a p {
    width: 204px;
    font-size: 12px;
    margin-top: -22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #b0b0b0;
}

.product a .price {
    font-size: 14px;
    color: #ff6700;
}

.product a .price del {
    margin-left: 6px;
    color: #b0b0b0;
}

.product-left {
    grid-row: 1 / 3;
}

.product-left img {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
}

.smartwear-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    font-size: 22px;
    font-weight: 200;
    color: #333;
    position: relative;
}

.smartwear-header .sort a {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    border-bottom: 2px solid #f5f5f5;
    transition: border .3s;
}

.click {
    color: #ff6700 !important;
    border-bottom: 2px solid #ff6700 !important;
}

.smartwear-header .sort a:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.product .more {
    height: 143px !important;
    position: relative;
}

.product .more .icon::before {
    content: "";
    background: url('../images/pull_right.png') no-repeat;
    position: absolute;
    right: 30px;
    top: calc(143px / 2 - 55px / 2);
    width: 55px;
    height: 55px;
    background-size: 55px;
}

.product .more div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: #333;
    width: 100%;
    height: 45px;
    margin-top: calc(143px / 2 - 45px / 2);
    margin-left: 30px;
}

.product .more div small {
    font-size: 12px;
    color: #757575;
}

.computer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    font-size: 22px;
    font-weight: 200;
    color: #333;
    position: relative;
}

.computer-header a {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
}

/* 底部 */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-server {
    width: 1226px;
    height: 79px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.footer-server ul {
    width: 1226px;
    display: flex;
    justify-content: space-between;
}

.footer-server ul li {
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.footer-server .first-server {
    border: none;
}

.footer-server ul li a {
    font-size: 16px;
    color: #616161;
    transition: all .2s;
}

.footer-server ul li a:hover {
    color: #ff6700;
}

.footer-server ul li a em {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px
}

.footer-links {
    width: 1226px;
    height: 393px;
    padding: 40px 0;
    display: flex;
}

.list-style {
    width: 160px;
}

.list-style h3 {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.list-style a {
    margin: 10px 0 0;
    font-size: 12px;
    color: #333;
    transition: all .2s;
}

.list-style a:hover {
    color: #ff6700;
}

.phoneNumber {
    width: 251px;
    height: 80px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.phoneNumber h3 {
    font-size: 22px;
    color: #ff6700;
}

.phoneNumber small {
    font-size: 12px;
}

.phoneNumber a {
    display: block;
    width: 120px;
    height: 30px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700 !important;
    margin: 0 auto;
    transition: all .4s;
}

.phoneNumber a:hover {
    background-color: #ff6700;
    color: #fff !important;
    cursor: pointer;
}