html {
    font-size: 87px;
}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

body a:hover {
    color: #ff6700;
}

/* 整体布局 */
.app {
    display: grid;
    grid: 40px 100px 60px auto / auto;
}

/* top-bar顶部条 */
.v-line {
    margin: 0 7px;
    color: #424242;
}

.top-bar-bg {
    font-size: 12px;
    background: #333;
    display: flex;
    justify-content: center;
}

.top-bar {
    width: 1226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    color: #b0b0b0;
}

.top-bar a:hover {
    color: #fff;
}

.top-bar-nav ul {
    display: flex;
    align-items: center;
}

.top-bar-right {
    height: 40px;
    line-height: 40px;
    display: flex;
}

.top-bar-right .login-reg {
    margin-right: 10px;
}

.top-bar-right .login-reg ul {
    display: flex;
}

.top-bar-right .top-car a {
    text-align: center;
    display: block;
    width: 120px;
    background-color: #424242;
    transition: all .2s;
}

.top-car {
    margin-left: 15px;
}

.top-car i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

.top-car a:hover {
    color: #ff6700;
    background-color: #fff;
}

/* 头部header */
.header-bg {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.header-bg .header {
    width: 1226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bg .header .header-logo {
    width: 62px;
}

.header-bg .header .header-logo a {
    width: 56px;
    height: 56px;
    display: block;
    position: relative;
}

.header-bg .header .header-logo a::after {
    content: "";
    background: url(../images/logo-mi2.png) no-repeat;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 56px;
}

.header-bg .header-nav {
    margin-right: 20px;
}

.header-bg .header-nav ul {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg .header-nav ul a {
    color: #333;
    font-size: 16px;
    padding: 26px 10px 38px;
    transition: all .2s;
}

.header-bg .header-nav ul a:hover {
    color: rgb(255, 103, 1);
}

.header-search {
    position: relative;
}

.header-search input {
    width: 245px;
    height: 48px;
    padding: 0 10px;
    line-height: 48px;
    margin-right: 51px;
    border: 1px solid #e0e0e0;
}

.header-search button {
    width: 52px;
    height: 48px;
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
}

.header-search button::before {
    content: "";
    background: url(../images/search.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    background-size: 16px;
}

/* 类品 */
.details-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 1226px;
    display: flex;
    justify-content: space-between;
}

.introduce {
    display: flex;
    align-items: center;
}

.introduce h2 {
    font-size: 18px;
    font-weight: 400;
    color: #424242;
}

.introduce ul {
    display: flex;
    align-items: center;
}

.introduce ul li a {
    color: #616161;
    font-size: 12px;
}

.introduce .separator {
    color: #424242;
}

.introduce-right ul {
    display: flex;
    align-items: center;
}

.introduce-right ul li a {
    color: #616161;
    font-size: 14px;
}

.introduce-right .buy {
    display: block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    margin-left: 5px;
    background: #ff6700;
    border-color: #ff6700;
    transition: all .4s;
}

.introduce-right .buy:hover {
    background: #ec5e00;
    border-color: #ec5e00;
}

.introduce .separator {
    font-size: 12px;
}

.separator {
    color: #e0e0e0;
    margin: 0 11px;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 60px;
    margin-top: -60px;
    background-color: #fff;
    z-index: 9;
    transition: margin-top .3s linear;
}

.show {
    margin-top: 0;
}

/* 介绍详情 */

.contain {
    width: 100%;
    height: auto;
    background-color: #000;
}

.msa-animated {
    opacity: 1 !important;
    transform: none !important;
    z-index: 2;
}

.introduce1 {
    position: relative;
    margin-bottom: -18%;
    background-color: #000;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: 800ms;
    transform: translate3d(0, 30px, 0);
}

.introduce1 .img1 {
    width: 80%;
    z-index: 0;
}

.introduce1 .img2 {
    width: 29%;
    position: absolute;
    top: 28%;
    right: 13.8%;
}

.introduce1 span {
    font-size: 68px;
    letter-spacing: 18px;
    color: #fff;
    font-family: MiSans-Medium;
    font-weight: 500;
    position: absolute;
    top: 35%;
    right: 20.5%;
}

.introduce2 {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -16%;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: 800ms;
    transform: translate3d(0, 30px, 0);
}

.introduce2 .span1 {
    width: 40%;
    font-size: 0.36rem;
    line-height: 0.76rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    left: 30%;
}

.location2 {
    position: relative;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: 800ms;
    transform: translate3d(0, 30px, 0);
    z-index: 2;
}

.introduce3 {
    position: relative;
    z-index: 2;
}

.introduce3 .img-top {
    display: flex;
    justify-content: center;
}

.img3 {
    width: 8.37rem;
    height: 6.87rem;
    position: relative;
}

.img4 {
    width: 6.51rem;
    height: 6.87rem;
    position: relative;
    margin-left: 10px;
}

.font-big {
    font-size: .36rem;
    line-height: .5rem;
    color: #fff;
}

.font-sml {
    font-size: .22rem;
    line-height: .32rem;
    color: #888;
}

.div1 {
    position: absolute;
    left: 8%;
    top: 10%;
    z-index: 1;
}

.div2 {
    position: absolute;
    left: 8%;
    top: 26%;
    z-index: 1;
}

.div3 {
    position: absolute;
    left: 11%;
    top: 10%;
    z-index: 1;
}

.div4 {
    position: absolute;
    left: 11%;
    top: 26%;
    z-index: 1;
}

.img-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img5 {
    width: 10.52rem;
    height: 4.83rem;
    position: relative;
}

.img6 {
    width: 4.36rem;
    height: 8.35rem;
    position: relative;
    margin-left: 10px;
}

.img-1 {
    display: flex;
    margin-top: 10px;
}

.img7 {
    width: 6.84rem;
    height: 3.39rem;
    position: relative;
}

.img8 {
    width: 3.55rem;
    height: 3.39rem;
    background-color: #151515;
    margin-left: 10px;
    position: relative;
}

.div5 {
    position: absolute;
    top: 10%;
    left: 6%;
}

.div6 {
    position: absolute;
    top: 34%;
    left: 6%;
}

.div7 {
    position: absolute;
    top: 20%;
    left: 10%;
}

.div8 {
    position: absolute;
    top: 54%;
    left: 10%;
}

.div9 {
    position: absolute;
    top: 25%;
    left: 20%;
}

.div10 {
    position: absolute;
    top: 44%;
    left: 20%;
}

.introduce4 img {
    width: 25.6rem;
    height: 36.37rem;
    margin-bottom: -25.89rem;
}

.introduce5 {
    position: relative;
    background-color: #000;
    z-index: 1;
}

.introduce5 img {
    width: 23.65rem;
    height: 18.01rem;
    z-index: 1;
    margin-left: 1.95rem;
    background-color: #000;
}

.introduce5 .img9 {
    width: 1.42rem;
    height: 0.48rem;
    position: absolute;
    top: 38%;
    left: 38%;
}

.introduce5 .span2 {
    width: 10.9rem;
    height: 2.59rem;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 42%;
    left: 26%;
}

.location3 {
    height: 16%;
    background-color: #000;
}

.introduce6 {
    width: 22.83rem;
    height: 12.76rem;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.introduce6 .span3 {
    width: 4.2rem;
    height: 1.43rem;
    position: absolute;
    color: #fff;
    font-size: .6rem;
    line-height: .9rem;
    top: -5%;
    left: 12%;
    z-index: 1;
}

.introduce6 .span4 {
    width: 6.8rem;
    height: 0.77rem;
    position: absolute;
    color: #999;
    font-size: .26rem;
    line-height: .5rem;
    top: 12%;
    left: 12%;
}

.introduce6 .img10{
    width: 1.84rem;
    height: 0.68rem;
    position: absolute;
    top: 13.5%;
    left: 50%;
}

.introduce6 .img11{
    width: 3.75rem;
    height: 1.14rem;
    position: absolute;
    top: 12%;
    left: 62%;
}

/* 底部 */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 150px;
}

.footer-server {
    width: 1226px;
    height: 79px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.footer-server ul {
    width: 1226px;
    display: flex;
    justify-content: space-between;
}

.footer-server ul li {
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.footer-server .first-server {
    border: none;
}

.footer-server ul li a {
    font-size: 16px;
    color: #616161;
    transition: all .2s;
}

.footer-server ul li a:hover {
    color: #ff6700;
}

.footer-server ul li a em {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px
}

.footer-links {
    width: 1226px;
    height: 393px;
    padding: 40px 0;
    display: flex;
}

.list-style {
    width: 160px;
}

.list-style h3 {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.list-style a {
    margin: 10px 0 0;
    font-size: 12px;
    color: #333;
    transition: all .2s;
}

.list-style a:hover {
    color: #ff6700;
}

.phoneNumber {
    width: 251px;
    height: 80px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.phoneNumber h3 {
    font-size: 22px;
    color: #ff6700;
}

.phoneNumber small {
    font-size: 12px;
}

.phoneNumber a {
    display: block;
    width: 120px;
    height: 30px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700 !important;
    margin: 0 auto;
    transition: all .4s;
}

.phoneNumber a:hover {
    background-color: #ff6700;
    color: #fff !important;
    cursor: pointer;
}